@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

header .logo a{
    font-size: 23px;
    font-weight: 680;
    text-decoration: none;
    color: rgba(169, 129, 27, 0.895);
}

.navbar a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.navbar > a:hover {
    text-decoration: underline;
}

#titulo {
    margin: 15px;
    padding: 15px;
    position: relative;
    top: 150px; 
}

.paragrafo {
    text-align: justify;
}


.sobre-mim {
    padding: 15px;
    margin: 15px;
    position: relative;
    top: 150px;

}


.conteudo {
    margin: 15px;
    padding: 15px;
    position: relative;
    top: 100px;
    text-align: justify;
}
