@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(/img/fundo1.jpg);
    background-size: cover;
    background-position: center;
}

header {
    margin: 15px;
    padding:20px;
    display: flex;
    justify-content: space-between;
}

header > a {
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color:white;
    text-shadow: 7px 10px 15px black;
    
}

nav > a {
    font-size: 17px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 25px;
    transition-duration: 1s;
    text-shadow: 3px 3px 10px black;
    
}

nav > a:hover {
    text-decoration: underline;
    color: rgba(164, 203, 254, 0.77);
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 35px;
    background-color: transparent;
    color: rgb(255, 255, 255);

}


 h1 {
    text-align: center;
    font-size: 4em;
    text-shadow: 7px 9px 10px black;
    padding-top: 1px;

}


 h3 {
    margin: 12px;
    font-size: 2em;
    text-shadow: 7px 10px 10px black;
}


p {
    padding: 12px;
    text-align: justify;
    text-indent: 8%;
}

aside > ul  {
    color: white;
    text-align: center;
    margin: 30px;
    columns: 2;
    list-style-type: none;
}

ul > li > a {
    color: white;
    text-decoration: none;
    transition: 1s;
}


ul > li > a:hover {
    text-decoration: underline;
    color: rgba(164, 203, 254, 0.77);
}


footer {
    background-color: rgba(60, 60, 138, 0.518);
}

footer > p {
    text-shadow: 3px 3px 3px black;
    color: white;
    text-align: center;
}

footer > p > a {
    color: white;
    text-decoration: none;
    transition: 1s;
}

footer > p > a:hover {
    text-decoration: underline;
    color: rgba(52, 32, 153, 0.567);
}


