@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header .logo a{
    font-size: 23px;
    font-weight: 680;
    text-decoration: none;
    color: black;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}


